:root {
  --blue: #051f38;
  --white: #ffffff;
  --dark: rgb(48, 47, 47);
}
html {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}
body {
  width: 100%;
  height: 100%;
  background-color: var(--blue);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(15, 1fr);
  color: ghostwhite;
}

.main-weather {
  position: fixed;
  height: 90%;
  width: 100%;
  background-color: var(--dark);
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  padding: 20px;
  box-sizing: border-box;
}
form {
  grid-column: 2/12;
  grid-row: 1/2;
  justify-content: center;
  align-items: center;
}
form input {
  width: 97%;
  height: 70%;
}
.initial-message {
  grid-column: 2/12;
  grid-row: 3/4;
  align-self: center;
  align-self: center;
  text-align: center;
}
.current-temp-data {
  grid-row: 2/7;
  grid-column: 1/6;
  padding: 4%;
}
.main-highlow {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
.current-temp {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 6em;
  margin-top: 15px;
  margin-bottom: 15px;
}
.c {
  font-size: 0.5em;
}
.feels-like {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-conditions {
  grid-row: 3/8;

  grid-column: 8/13;
}
.main-conditions div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-icon {
  margin-top: 30px;
}
.city-name {
  grid-row: 7/9;
  grid-column: 1/10;
  font-size: 1.3em;
  padding: 2%;
  display: flex;
  align-items: center;
}
.hourly-forecast {
  grid-row: 9/13;
  grid-column: 1/13;
  display: flex;
  overflow: scroll;
  align-items: center;
  overflow-y: hidden;
}
.hour-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 0;
  height: 96%;
  min-width: 70px;
}
.small-icon {
  width: 60px;
  margin-top: -10px;
  margin-bottom: -10px;
}
.hour-precip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
}

/******* Weekly Forecast ********/

.weekly-forecast {
  margin-top: 10%;
  z-index: 10;
  grid-row: 14/16;
  grid-column: 1/13;
  transition: ease-in-out 0.4s;
}
.weekly-forecast.hidden {
  margin-top: 1000%;
  transition: ease-in-out 0.6s;
}
.weekly-forecast header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(17, 16, 16, 0.953);
  font-size: 1.3em;
  padding-bottom: 10px;
}
.weekly-forecast p {
  background-color: rgba(17, 16, 16, 0.953);
  margin-top: -6px;
  width: 20%;
  text-align: center;
  border-radius: 5px;
  color: white;
}
#today-forecast {
  margin-top: 0px;
  /*   border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
}
.day-forecast {
  border-top: 1px solid black;
  margin-top: 0px;
  background-color: rgba(17, 16, 16, 0.953);
  backdrop-filter: blur(6px);
  color: white;
  padding: 10px;
}

.day-overview {
  display: flex;
  justify-content: space-between;
}
.day-name {
  font-size: 1.3em;
}

.day-overview-right {
  display: flex;
  align-items: center;
}
.forecast-expand {
  margin-left: 20px;
  padding-top: 20px;
  font-size: 1.5em;
  transform: rotate(180deg);
}

.day-details li {
  display: flex;
  justify-content: space-between;
  margin-top: 6px;
  padding-right: 10%;
  padding-left: 10%;
}

/****Nav Menu*****/

nav {
  height: 100%;
}
a {
  text-decoration: none !important;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover {
  color: #2ecc71;
}

#menuToggle {
  height: 100%;
  display: block;
  position: fixed;
  top: 27px;
  right: 2.5%;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 10;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 5;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 200px;
  height: 100%;
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}

/***********Loader*******************/
.loader-container {
  display: none;
}
.loader-container.active {
  justify-self: center;
  align-self: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.625);
  width: 100%;
  height: 1000%;
}
#load-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -100px;
  margin-bottom: 50px;

  background-color: rgba(0, 0, 0, 0.953);
  border-radius: 30px;
  width: 200px;
  height: 100px;
}
.loader {
  justify-self: center;
  align-self: center;

  border: 16px solid gray; /* Light grey */
  border-top: 2px solid rgb(237, 102, 53);
  border-bottom: 2px solid rgb(237, 102, 53); /* Blue */
  border-radius: 70%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 410px) {
  .weekly-forecast {
    margin-top: 4%;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    background-color: #020202e8;
  }
  .gallery::-webkit-scrollbar-track {
    background-color: black;
  }

  ::-webkit-scrollbar {
    height: 7px;
    width: 6px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: rgb(233, 233, 233);
  }
}

@media screen and (min-width: 754px) {
  body {
    display: flex;
    flex-direction: column;
    position: initial;
  }
  .main-weather {
    grid-row: 1/15;
  
    position: initial;
    height: 550px;
    width: 100%;
  }
  .current-temp-data {
    grid-row: 2/7;
    grid-column: 2/4;
    padding: 4%;
    justify-content: space-between;
    padding: 0px;
  }
  .main-conditions {
    grid-row: 2/7;
    grid-column: 10/12;
    margin-top: 10px;
  }
  .main-conditions div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main-icon {
    margin-top: 0px;
    padding: 0px;
  }
  #icon-img {
    width: 150px;
  }
  .city-name {
    grid-row: 2/7;
    grid-column: 4/10;
    font-size: 1.3em;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
 
  }

  .hourly-forecast {
    background-color: rgba(0, 0, 0, 0.316);
    grid-row: 8/13;
    grid-column: 2/12;
    display: flex;
    overflow: scroll;
    align-items: center;
    overflow-y: hidden;
  }
  .hour-info {
    background-color: var(--dark);
    border-color: transparent;
  }

  .weekly-forecast {
    grid-row: 15/16;
    margin-top: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: black;
    z-index: 0;
    padding-bottom: 50px;
  }
  .weekly-forecast.hidden {
    margin-top: 0%;
    transition: ease-in-out 0.6s;
    z-index: 0;
  }
  .weekly-forecast p {
    display: none;
  }
  .weekly-forecast header {
    padding: 20px;
    width: 100%;
  }
  #today-forecast {
    width: 100%;
    margin: 0;
  }
  #today-forecast .day-overview {
    justify-content: center;
  }
  #today-forecast .day-overview-left {
    margin-right: 45px;
  }
  #today-forecast .day-overview-left div {
    margin: 5px;
  }
  #today-forecast .day-details {
    padding-left: 30%;
    padding-right: 30%;
  }
  #today-forecast .day-details li {
    justify-content: space-between;
  }

  .day-forecast {
    width: 250px;
    margin: 10px;
    padding: 20px;
  }
  .day-details li {
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 0.9em;
  }
}
